#footer-container {
    width: 100%;
    color: var(--red);
    position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    padding-top: 3vh;
}

#footer-outer-container {
    padding: 5%;
    background-color: var(--bars);
    color: white;
    width: 100vw;
}

#footer-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}

.footer-column {
    display: flex;
    flex-direction: column;
    font-size: medium;
}

.footer-column-link {
    color: white;
    font-size: 12px;
}

.footer-column-link:hover {
    color: rgba(255, 255, 255, 0.404);
}

#copyrights {
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.575);
    margin-top: 10%;
}

#linked-in-links {
    color: rgba(255, 255, 255, 0.575);
    font-size: 10px;
}

#linked-in-links:hover {
    color: white;
}


@media screen and (min-width: 768px) {

    #footer-container {
        justify-content: space-evenly;
        padding-top: 10vh;
        margin-top: 10vh;
    }

    #footer-outer-container {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    #copyrights {
        font-size: small;
    }
}