#footer-container {
    width: 100%;
    background-color: var(--black);
    color: var(--red);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    line-height: 30px;
}

#footer-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--red);
    top: -10px;
    left: 0;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column-link {
    color: white;
}