@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

#header-inner-container {
    background-color: var(--black);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    position: fixed;
    z-index: 999;
}

#header-logo-container {
    width: 50%;
}

#header-logo {
    width: 150px;
    margin-top: 10px;
    transition: .2s;
}

#header-logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#dropmenu-content {
    position: fixed;
    top: 10vh;
    color: white;
    background-color: var(--black);
    width: 100%;
    text-align: center;
    line-height: 5vh;
    font-size: 15px;
    z-index: 999;
}

#menuToggle {
    width: 50%;
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 30px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 8px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: calc(4px / 2);
    background: #ffffff;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

.bar--top {
    bottom: calc(50% + 8px + 3px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s) * .6;
}

.bar--middle {
    top: calc(50% - 3px/ 2);
    transition-property: opacity, transform;
    transition-delay: calc(0s + 0.35s * .3);
}

.bar--bottom {
    top: calc(50% + 8px + 3px/ 2);
    transition-property: top, transform;
    transition-delay: 0s;
}

#checkbox:checked+.toggle .bar--top {
    transform: rotate(-135deg);
    transition-delay: 0s;
    bottom: calc(50% - 4px/ 2);
}

#checkbox:checked+.toggle .bar--middle {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(0s + 0.35s * .3);
}

#checkbox:checked+.toggle .bar--bottom {
    top: calc(50% - 3px/ 2);
    transform: rotate(-225deg);
    transition-delay: calc(0s + 0.35s * .6);
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

#header-responsive-container {
    display: none;
}


@media screen and (min-width: 768px) {

    #header-inner-container {
        display: none;
    }

    #header-responsive-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 24px;
        font-family: "Alef", sans-serif;
        position: fixed;
        z-index: 999;
        width: 100%;
        background-color: var(--black);
        border-bottom: 2px solid var(--red);
        height: 12vh;
    }

    .header-links:hover {
        color: rgba(255, 255, 255, 0.404);
    }

    #header-logo-container {
        width: 10%;
    }
}