.homepage-container{
    color: white;
    background-image: url('../../media/bgn2.jpg');
    background-size: 180vw;
    background-position: 40%;
}
.logos-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5%;
}
.invationSummary-container{
    /* background-color: var(--black); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0,9%,0,9%;
}

.reder {
    color: var(--red);
    font-size: larger;
    text-shadow: #000000;
}

.logo-home{
    width: 40vw;
}
.invation-red-title{
    text-align: center;
    color: var(--red);
    font-size: 28px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000000;
}
.soldier{
    font-weight: bold;
    font-size: 35px;
}
.invation-black-title{
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invataion-text-red {
    font-size: 35px;
    color: var(--red);
}

.invataion-text {
    font-size: var(--h2);
}
.save-the-date{
    display: flex;
    align-items: end;
}
.save-the-date-date{
    font-size: 70px;
    font-weight: bold;
}
.save-the-date-text{
    margin-bottom: 3vw;
    margin-left: 2vw;
    color: var(--red);
    font-weight: bold;
    font-size: large;
}
.invation-summary-location{
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}
.invation-summary-button-div{
    height: 8vh;
    width: 50vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--h2);
    font-weight: bold;
    background-color: var(--red);
    border-radius: 8px;
    border: solid var(--red) 2px;
    transition: .15s;
    animation: scaling 2s linear;
    animation-iteration-count: infinite;
    transition: .2s;
}

@keyframes scaling {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.invation-summary-button-div:hover{
   background-color:var(--black);
   border-color: var(--red);
}


@media screen and (min-width: 768px) {

    .homepage-container {
        width: 100vw;
    }

    .invation-black-title {
        font-size: xx-large;
        line-height: 10vh;
        padding: 5%;
        height: auto;
    }

    .invation-summary-button-div {
        height: 8vh;
        width: 25vw;
    }

    .schedule-container {
        margin-top: 10vh;
        line-height: 4vh;
    }

    .schedule-title {
        margin-bottom: 5vh;
    }
}