.homepage-container{
    background-color: var(--black);
    font-family: 'Alef', sans-serif;
    color: white;
}
.logos-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5%;
}
.invationSummary-container{
    background-color: var(--black);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    line-height: 7vh;
    letter-spacing: 2px;
}

.reder {
    color: var(--red);
    font-size: larger;
    text-shadow: #000000;
}

.logo-home{
    width: 40vw;
}
.invation-red-title{
    text-align: center;
    color: var(--red);
    font-size: 28px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000000;
}
.soldier{
    font-weight: bold;
    font-size: 35px;
}
.invation-black-title{
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.save-the-date{
    display: flex;
    align-items: end;
}
.save-the-date-date{
    font-size: 70px;
    font-weight: bold;
}
.save-the-date-text{
    margin-bottom: 3vw;
    margin-left: 2vw;
    color: var(--red);
    font-weight: bold;
    font-size: large;
}
.invation-summary-location{
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}
.invation-summary-button-div{

    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: larger;
}
.invation-summary-button-div{
    height: 12vw;
    display: flex;
    justify-content: center;
    background: rgb(241,133,18);
    background: linear-gradient(17deg, rgba(241,133,18,1) 0%, rgba(233,30,99,1) 50%);    
    width: 50%;
    border-radius: 8px;
    border: solid white 2px;
}

.invation-summary-button-div:hover{
    background: linear-gradient(17deg, rgb(170, 100, 24) 0%, rgb(155, 26, 69) 50%);    
}