.homepage-container{
    color: white;
    background-image: url('../../media/bgn2.jpg');
    background-size: 180vw;
    background-position: 40%;
}
.logos-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5%;
}
.invationSummary-container{
    /* background-color: var(--black); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 9%;
}

.reder {
    color: var(--red);
    font-size: larger;
    text-shadow: #000000;
}

.logo-home{
    width: 40vw;
}
.invation-red-title{
    text-align: center;
    color: var(--red);
    font-size: 28px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000000;
}
.soldier{
    font-weight: bold;
    font-size: 35px;
}
.invation-black-title{
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invataion-text-red {
    font-size: 35px;
    color: var(--red);
}

.invataion-text {
    font-size: var(--h2);
}
.save-the-date{
    display: flex;
    align-items: end;
}
.save-the-date-date{
    font-size: 70px;
    font-weight: bold;
}
.save-the-date-text{
    margin-bottom: 3vw;
    margin-left: 2vw;
    color: var(--red);
    font-weight: bold;
    font-size: large;
}
.invation-summary-location{
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}
.invation-summary-button-div{
    height: 50px;
    width: 200px;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--h2);
    font-weight: bold;
    background: rgb(90,58,119);
    background: linear-gradient(100deg, rgba(90,58,119,1) 0%, rgba(161,63,102,1) 48%, rgba(246,70,81,1) 100%);  
    border-radius: 8px;
    border: solid rgba(255, 255, 255, 0.507) 2px;
}

.invation-summary-button-div:hover{
    background: linear-gradient(100deg, rgba(90, 58, 119, 0.6) 0%, rgba(161,63,102, 0.6) 48%, rgba(246,70,81, 0.6) 100%);
}


@media screen and (min-width: 768px) {

    .homepage-container {
        width: 100vw;
    }

    .invation-black-title {
        font-size: xx-large;
        line-height: 10vh;
        padding: 5%;
        margin-top: 10vh;
        height: auto;
    }

    .invation-summary-button-div {
        height: 10vh;
        width: 25%;
    }

    .schedule-container {
        margin-top: 10vh;
        line-height: 4vh;
    }

    .schedule-opening {
        padding-top: 15vh;
    }

    .schedule-title {
        margin-bottom: 5vh;
    }
}