#intro-container {
    background-image: url("../../media/final-bgnd.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 0%;
    height: 550px;
    background-color: var(--black);
}

#intro-background {
    width: 100%;
    background-color: rgba(15, 19, 35, 0.137);
}

@media screen and (min-width: 768px) {

    #intro-container {
        background-image: url('../../media/wide-ladnscape.png');
        height: 40vw;
    }
}