.mini-location-container {
    text-align: center;
    padding: 10%;
    line-height: 7vh;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links-to-address {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.link-adress-a {
    display: flex;
    align-items: center;

    transition: .2s;
}

.link-adress-a:hover {
    transform: scale(1.1);
}

.title-mini-location {
    font-size: var(--h2);
    color: var(--red);
    margin-bottom: -2vh;
}

.adress-mini-location {
    margin-bottom: 3vh;
}

.location-icons {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

#waze-hp-mentor-container {
    background-color: rgb(112, 166, 236);
    border-radius: var(--radius);
    padding: 5%;
    width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#waze-hp-mentor-container:hover {
    background-color: rgb(112, 166, 236, 0.5);
}

#waze-hp-mentor-container:hover .mentoring-text {
    transform: scale(1.05);
}

#google-hp-mentor-container:hover .mentoring-text {
    transform: scale(1.05);
}

.mentoring-text {
    transition: .2s;
}

#google-hp-mentor-container {
    background-color: rgb(251,188,5);
    border-radius: var(--radius);
    padding: 5%;
    width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#google-hp-mentor-container:hover {
    background-color: rgb(251,188,5, 0.5);
}



@media screen and (min-width: 768px) {

    .links-to-address {
        width: 50%;
        margin-right: 25%;
    }

    .link-adress-a {
       transform: scale(2);
    }
    .link-adress-a:hover {
        transform: scale(2.1);
    }


    .mini-location-container {
        line-height: 10vh;
    }

    .location-icons {
        margin-left: 0.6vw;
    }

    #waze-hp-mentor-container {
        width: 500px;
    }

    #google-hp-mentor-container {
        width: 500px;
    }

}
@media screen and (max-width: 900px) {

  
    .link-adress-a {
       transform: scale(1.6);
    }
    .link-adress-a:hover {
        transform: scale(1.7);
    }

   
}
@media screen and (max-width: 600px) {

  
    .link-adress-a {
       transform: scale(1);
    }

   

}