.mini-location-container {
    text-align: center;
    padding: 10%;
    line-height: 7vh;
    font-size: larger;
}

.links-to-address {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.link-adress-a {
    display: flex;
    align-items: center;

    transition: .4s;
}

.link-adress-a:hover {
    transform: scale(1.1);
}

.title-mini-location {
    font-size: xx-large;
    font-weight: bold;
    color: var(--red);
}

.adress-mini-location {
    margin-bottom: 3vh;
}

.location-icons {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}



@media screen and (min-width: 768px) {

    .links-to-address {
        width: 50%;
        margin-right: 25%;
    }
    .link-adress-a {
       transform: scale(2);
    }

    .mini-location-container {
        line-height: 10vh;
    }

    .location-icons {
        margin-left: 0.6vw;
    }
}
@media screen and (max-width: 900px) {

  
    .link-adress-a {
       transform: scale(1.6);
    }

   
}
@media screen and (max-width: 600px) {

  
    .link-adress-a {
       transform: scale(1);
    }

   
}