.register-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo', sans-serif;
  padding-bottom: 5vh;
}


.register-form-title {
  font-size: var(--h2);
  color: var(--red);
  margin-bottom: var(--line);
}

.input-text-style {
  width: 280px;
  height: 35px;
  border-radius: 7px;
  font-size: var(--text);
  font-weight: bold;
  margin-bottom: var(--line);
}

.input-text-style::placeholder {
  padding-right: 5px;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.register-form-container #form-container select {
  padding-right: 5px;
}


.spam-checkbox {
  margin-right: 2vw;
  display: flex;
  width: 280px;
  align-items: start;
  margin-bottom: var(--line);
}

.label-spam {
  margin-right: 1vw;
  width: calc(95% - 13px);
  font-weight: bold;
  color: rgb(174, 173, 173);
}

.submit-register {
  height: 35px;
  background-color: var(--red);
  width: 280px;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--black); 
  color: white;
  font-weight: bold;
  font-size: large;
  transition: .15s;

}

.linkedin-form {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.linkedin-link-form {
  height: 35px;
  right: 20px;
  margin-bottom: 10px;
  position: absolute;
}

.submit-register:hover {
  background-color: var(--black);
  border-color: var(--red) ;
    cursor: pointer;
}

.link-google-form{
  color: var(--red) !important;
  text-align: center;
}
.link-to-google-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.space-holder {
  height: 6vw;
}
.second-register-form-google{
  display: flex;
  justify-content: center;
}

#spam-checkbox {
  width: 13px;
  margin-top: 4px;
}
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}


@media screen and (min-width: 768px) {
  .register-form-title {
    font-size: var(--h2);
    font-weight: bold;
  }

  .input-text-style {
    width: 50%;
    height: 6vh;
  }

  .input-text-style {
    width: 50%;
    height: 6vh;
  }

  #form-container {
    width: 100vw;
    line-height: 5vh;
  }

  .label-spam {
    width: 100%;
    margin-right: 1.5vw;
  }

  #spam-checkbox {
    width: 13px;
    margin-top: 10px;
  }

  .spam-checkbox {
    width: 50vw;
    font-size: large;
  }

  .submit-register {
    height: 8vh;
    border: 2px solid var(--red);
    border-radius: var(--radius);
    width: 50%;
  }

  #submit-container {
    display: flex;
    justify-content: center;
    width: 50vw;
  }

  .linkedin-link-form {
    display: none;
  }
}