#contact-container {
    width: 100vw;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
}

.contact-small-header {
    font-size: var(--h2);
    font-weight: bold;
    color: var(--red);
}

#contact-row {
    margin-bottom: 5vh;
    margin-top: 4vh;
    padding: 5%;
    line-height: 8vh;
}

#contact-header {
    width: 100%;
    text-align: center;
    color: var(--red);
    font-size: var(--h1);
    font-weight: bolder;
}

#contact-links {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container:hover {
    color: rgba(255, 255, 255, 0.836);
}

.contact-link-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.contact-link-section img {
    margin-left: 15px;
}

#contact-phone-text {
    position: relative;
    bottom: 3px;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

#contact-email-text {
    position: relative;
    bottom: -2px;
}

#contact-travel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    line-height: 10vh;
}

#contact-travel h1 {
    color: var(--red);
    text-align: center;
}

#contact-travel-icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


iframe {
    margin-bottom: 50px;
}

.i4ewOd-pzNkMb-haAclf {
    display: none !important;
}

@media screen and (min-width: 500px) {
    #contact-row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 768px) {
    #contact-container iframe {
        width: 70%;
    }

    #contact-row {
        display: flex;
        align-items: flex-end;
    }
}