.logos-mentoring-icon{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mentoring-form-title{
    text-align: center;
    font-size: xx-large;
}
.logos-line1{
    display: grid;
    grid-template-columns: 20vw  20vw 20vw 20vw;
    grid-template-rows: 20vw  20vw 20vw 20vw;
    grid-gap: 2vw;
}
.image-logo-mentor{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    transition: .2s;
}

.image-logo-mentor:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 600px) {
    .logos-line1{
        grid-template-columns: 136px 136px 136px 136px ;
        grid-template-rows: 136px 136px 136px 136px ;
       
    }
    .image-logo-mentor{
        height: 136px;
        width: 136px;

    }
   }
 