.logos-mentoring-icon{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mentoring-details{
    margin-right: 6vw;
    width: 90%;
}
.mentoring-title{
    font-size: xx-large;
    color:  var(--red);
    text-align: center;
}
.mentoring-subtitle{
    font-weight: bold;
}
.mentoring-form-title{
    text-align: center;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos-line1{
    display: grid;
    grid-template-columns: 20vw  20vw 20vw 20vw;
    grid-template-rows: 20vw  20vw 20vw 20vw;
    grid-gap: 2vw;
}
.image-logo-mentor{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    transition: .2s;
}

.image-logo-mentor:hover {
    transform: scale(1.05);
}
#link-logo-mentoring{
    height: 35px;
    border-radius: 50%;
    margin-right: 4vw;
    transition: 0.2s;
}
#link-logo-mentoring:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 600px) {
    .logos-line1{
        grid-template-columns: 136px 136px 136px 136px ;
        grid-template-rows: 136px 136px 136px 136px ;
       
    }
    .image-logo-mentor{
        height: 136px;
        width: 136px;

    }
   }
 