#fixed-container {
    position: fixed;
    top: 70%;
    left: 0;
    padding: 3%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 998;
    background-color:  rgba(15, 19, 35, 0.521);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#whatsapp-logo {
    width: 50px;
    border-radius: 50px;
}

#whatsapp-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#fixed-sign-container {
    color: var(--red);
    font-size: large;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
}

#sign-arrow {
    animation: bounce 1s linear;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {transform: translateY(0px);}
    20% {transform: translateY(8px);}
    100% {transform: translateY(0px);}
}

#fixed-sign-container:hover #sign-arrow {
    animation: bouncer .5s linear;
    animation-iteration-count: infinite;
}

@keyframes bouncer {
    0% {transform: translateY(0px);}
    20% {transform: translateY(8px);}
    100% {transform: translateY(0px);}
}