@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Heebo', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

#app-container {
    --red: rgb(233,30,99);
    --black: rgb(15,19,35);
    --bars: #2b2c42;
    --h1: 40px;
    --h2: 30px;
    --h3: 20px;
    --text: 15px;
    --radius: 7px;
    --line: 15px;
    font-family: 'Heebo', sans-serif;
    background-image: url('./media/bgn3.jpg');
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: var(--text);
}

#outlet-inner {
    position: absolute;
    top: 10vh;
}

@media screen and (min-width: 768px) {
    #outlet-inner {
        top: 12vh;
    }
}