@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

*{
    scroll-behavior: smooth;
}
html,body{
    min-width: 100vw;
    min-height: 100vh;
}

#app-container {
    --red: rgb(233,30,99);
    --black: rgb(15,19,35);
    font-family: 'Alef', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}