@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    scroll-behavior: smooth;
}


#app-container {
    --red: rgb(233,30,99);
    --black: rgb(15,19,35);
    font-family: 'Heebo', sans-serif;
    background-color: var(--black);
}

* {
    margin: 0;
    box-sizing: border-box;
}

#outlet-inner {
    position: absolute;
    top: 10vh;
}

@media screen and (min-width: 768px) {
    #outlet-inner {
        top: 12vh;
    }
}